/*-- NAVIGATION --*/

nav ul {
    display: flex;
    flex-direction: row;
    padding: 0px;
  }
  
  nav ul li {
    flex:1;
    list-style-type: none;
    
  }
  
  nav ul li a {
    display: block;
    padding: 0.75em;
    margin: 0.25em;  
    background-color: maroon;
    color: white;  
    text-align: center;
    text-decoration: none;  
    border-radius: 10px;
    align-items: stretch;
  }
  
  nav ul li a:hover {
    background-color: #900;
    box-shadow: inset 3px 3px 10px #300;  
  }

nav ul li.brand {
    flex: 3;
    border: none;
}

/* specificity in action */

.red   { color: red;}*/
 p.red { background-color: red; } 
/* p.red  { color: red; } */




/* to make something unique on every page */
h1 {}
#event h1 {}
#eats h1 {}
#do h1 {}

/* Any image */

img { width: 100%; } 

img.thumbnail { 
    display: block;
    width: 50%;
    height: auto;
    margin: 1em auto 1em auto;
} /* left-right margin auto center block level elements! */

h1 {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 1.25em; 
    font-style: italic; 
    font-weight: 700; 
    line-height: 14.3px;
    text-align: center;
}

/* ----- You can use CSS comments to organize your stylesheet ---- */


h1 {
    background-color: darkred;
    color:white;
    text-align: center;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    padding: 0.5em 0;
    margin: 0 0 1em 0;
}

h2 {
    background-color: brown;
    color: beige;
    padding: 1em;
    margin: 0.25em 0 1em 0;
    border-radius: 10px;
}



.container {
    max-width: 800px;
    margin: 1em auto 1em auto;
}


#wing-fest {
    box-shadow: 5px 5px 10px red;
}

.season {
    border: 1px solid blue;
    padding: 1em 1em 1em 1em;
    margin: 1.5em 0 1.5em 0;
    border-radius: 10px;
}

.event {
    border: 1px solid gray;
    background-color: white;
    padding: 1em 2em 1em 2em;
    margin: 1.25em 0 1.25em 0;
    border-radius: 10px;
}



.season-winter {background-color:aquamarine;}
.season-spring {background-color: azure;}
.season-summer {background-color: blanchedalmond;}
.season-autumn {background-color: aqua;}


@media screen and (max-width: 700px) {
    
    nav ul {
        flex-direction: column;
        padding: 0 20px;
        }


    nav ul li {
      margin:10px 0;
      }
    }

/* --------------*/    